In [2]:
#Task One
import mysql.connector as connector

In [5]:
connection = connector.connect(user = "root", password = "Youseethis123", db = "littlelemondb")

In [6]:
cursor = connection.cursor()

In [7]:
#Task Two
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [8]:
results = cursor.fetchall()
print(results)

[('bookings',), ('customers',), ('employees',), ('menuitems',), ('menus',), ('orders',), ('ordersview',)]

In [11]:
#Task Three
#Changing the $60 to $40 to match more of my data
join_query = """
SELECT Customers.CustomerID, Customers.FirstName, Customers.LastName, Customers.Contact_Number
FROM Customers LEFT JOIN Bookings ON Customers.CustomerID = Bookings.CustomerID LEFT JOIN Orders ON Bookings.BookingID = Orders.BookingID
WHERE BillAmount >= 40;
"""

In [12]:
cursor.execute(join_query)

In [13]:
customer_results = cursor.fetchall()
for customer in customer_results:
    print(customer)

(4, 'Marcos', 'Romero', 444555111)
(5, 'Hiroki', 'Yamane', 444555222)